<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="~/Content/SeewAlert/sweetalert2.min.css">
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="@Url.Action("Index","Home")">Navbar</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item @(@Request.Url.PathAndQuery=="/" ? "active":"") ">
                        <a class="nav-link" href="@Url.Action("Index","Home")">Ana səhifə <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item @(@Request.Url.PathAndQuery.Contains("Project")? "active":"") ">
                        <a class="nav-link" href="@Url.Action("Index","Project")">Proyekt</a>
                    </li>
                    <li class="nav-item @(@Request.Url.PathAndQuery.Contains("Category")? "active":"") ">
                        <a class="nav-link" href="@Url.Action("Index","Category")">Kateqoriya</a>
                    </li>
                    <li></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.3.26/jquery.form-validator.min.js"></script>
    <script src="~/Content/SeewAlert/sweetalert2.all.min.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
